.theme--dark.v-application {   background: #000; }

* {
    font-family: 'Roboto', sans-serif !important;
    overscroll-behavior: contain;
}

::-webkit-scrollbar
			{
    		width:0px;
			}
			::-webkit-scrollbar-track-piece
			{
   			background-color:transparent;
			}

.theme--dark.v-tabs>.v-tabs-bar {
	background-color:#121213;
}

.theme--dark.v-tabs>.v-tabs-bar .v-tab--disabled, .theme--dark.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active), .theme--dark.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-btn, .theme--dark.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-icon {
	color: white;
}

.theme--dark.v-sheet {
	background-color: #000;
}

.theme--dark.v-card {
	background-color: #000;
	height: 100vh;
}

.printables_list {
  height: 95vh;
}

.v-list-item .v-list-item__subtitle, .v-list-item .v-list-item__title {
  line-height: 3;
  font-weight: 300;
  font-size: 2rem;
  color:#B0BEC5;
}

.v-tab {
	font-weight: 400;
	font-size: 2rem;
	text-transform: none;
}

#keyboard {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1em;
	background-color: #272727;
	box-shadow: 0px -3px 10px rgba(black, 0.3);
	border-radius: 10px;
}

.ready_to_print {
  text-align: center;
  padding: 20%;
  font-weight: 300;
  font-size: 4rem;
  color:#B0BEC5;
}

.swipe_down_text {
  text-align: center;
  padding: 3%;
  font-weight: 300;
  font-size: 1.4rem;
  color:#B0BEC5;
}

 .vue-touch-keyboard .keyboard .key {
    background-color: #141414 !important;
    border: 0px solid #252525 !important;
    color: #039be5;
}

.downArrow{
	position: absolute;
	bottom: 20%;
	left: 47.5%;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}